html {
	
    width: 100%;
    height: 100%;
    background: #f0f0f0;
}
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;

}

#container {
    width: 400px;
    height: 280px;
    
 	display: table;
  	margin: 0 auto;
  	margin-top: 100px;
	background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
p{
    font-size: 15px;
    color: #808080;
    text-align:center;
    margin-top: -13px;
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

h2{
	text-align: center;
	padding-bottom: 40px;
}
