<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/main.css}" />
<title>Not found!</title>

<body>
	<div id="container">
		<h2>Card not found.</h2>
 	</div>
</body>

</html>