<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{'/css/' + ${cssName} + '.css'}" />
<title>Greeting Card!</title>

<body>
	<div id="container">
		
	 	<h2 id="subject" th:utext="${subject}"></h2>
	 	<p id="body" th:utext="${body}"></p>
 	</div>
</body>

</html>