<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/main.css}" />
<title>Greeting card demo</title>

<body>
	<div id="container">
		<h2>Greeting card Demo</h2>
		<p>Please go to <a th:href="@{/swagger-ui.html}">swagger documentation page</a></p>
 	</div>
</body>

</html>